.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.list-cell:odd{
    -fx-background-color: #333;
    -fx-text-fill: white;
}
